.table {
    background: linear-gradient(rgb(13, 102, 129), rgb(137, 181, 187));
    margin: auto;
}

.courseContent {
    margin: auto;
    font-size: large;
}

.Button-Next {
    background-color: rgb(149, 149, 221);
}

.click {
    color: rgb(0, 0, 0);
}